#menu{
float: right;
font-size: 24px;

background-color: ;
}
#header{
background-color: black;
height: 45px;
width: 1337px auto;
margin-bottom: ;

}
#t{
	float: left;

}
#menu{
	float: right;
	font-size: 16px;
}
.button {
  background-color: #107c41;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 5px ;
  margin-top: 30px;
}
*{
	margin: 0px;
	padding: 2px;
}
body{
	text-align: center;
	color:white;
	background-color: black;

}
a{
	color: white;
	text-decoration: none;
	margin-right:;
}
#a{
	color: white;
	text-decoration: none;
	margin-right: 20px;
}
.form{
	margin:  auto;
	margin-right: 0px;
	float: right;
	height: 100%;
	width: 50% auto;
	background-color: ;

}
#contact-image{
	float: left;
	margin-right: 0px;
	height: 100%;
	width: 650px;
}
#home{
	background-color: grey;
	height: 800px;
	width: 1341px auto;
	background-image: url("a.jpg");
	background-size: cover;
	background-attachment: fixed;
	margin-top: ;
}
#about{
	background-color: blue;
	height: 800px;
	width: 100% auto;
	background-image: url("work-731198_1920.jpg");
	background-size: cover;
	background-attachment: fixed;
}
#games{
	background-color: black;
	height: ;
	width: 1341px;
	background-attachment: fixed;
}
#banner{
	background-color: black;
    height: 100px;
	width: 100% auto;
	text-align: centrer;
	margin-top: 10px;
}
#content{
	background-color: white;
	background-image: url("e.jpg");
	background-attachment: fixed;
	background-size: cover;
    height: 1000px;
	width: 100% auto;
	text-align: centrer;
	margin-top: 0px;

}
#debug{
	background-color: ;
	height: ;
	width: 1341px;
	background-attachment: fixed;

}
#team{
	background-color: black;
	height: ;
	width: 1341px auto;
	background-attachment: fixed;

}
/*#content_team{
	background-color: black;
	height: 300px;
	width: ;
	background-attachment: fixed;

}*/
#proj{
	background-color: black;
	height: ;
	width: 1341px auto;

}
#contact{
	background-color: black;
	height: 640px;
	width: 1341px auto;

}
#support{
	background-color: black;
	height: 640px;
	width: 1341px auto;

}
#content_proj{
	background-image: url("projects.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-color: ;
    height: 1000px;
	width: 100% auto;
	text-align: centrer;
	margin-top: 0px;
}
#content_games{
	background-image: url("games.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-color: ;
    height: 1000px ;
	width: 100% auto;
	text-align: centrer;
	margin-top: 0px;
}
#footer{
	text-align: left;

}
#p_comand{
	font-size: 18px;
}
#p{

	font-size: 24px;
}
#h2{
	font-size: 64px;
	margin-top: 180px;
}
#h3{
	font-size: 52px;
	margin-top: 180px;
}
#h4{
	font-size: 40px;
	margin-top: 0px;
}
#obby{
	height: 750px;
	width: 500px;
	background-color: #001a32;
	font-size: 12px;
	border-radius: 8px;
	margin-left: 10px;
	margin-left: 110px;
	margin-top: 0 auto;
	float: left;
}
#obby, #p{
	margin-top: 0px;
}
#obby, #h3{
	margin-bottom: 0px;
	margin-top: 0px;
}
#obby, button, button1{
	margin-bottom: 50px;
	margin-top: 30px;
	border-radius: 20px;


}
#obby, img{
	border-radius: 8px;

}
.mySlides {display:none;}
.w3-left, .w3-right, .w3-badge {cursor:pointer;}
.w3-left, .w3-right{
	height:30px;
	width:30px;
}
.w3-badge {
	height:20px;
	width:20px;
	padding:0;
	float: center;
}

.profile_pic{
	border-radius: 20px;
	height:300px;
	width: 100%;
	float: ;
}
#programmer{
	height: 600px;
	width: 400px;
	background-color: #001a32;
	margin-left: 50px;
}
#programmer, #p{
	margin-top: 0px;
}
#programmer, #h3{
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 52px;
}
#programmer, button, button1{
	margin-bottom: 50px;
	margin-top: 0px;
	border-radius: 20px;


}

#slider{
	margin: 0 auto;
	margin-top: 50px;
	width: 650px;
	height: ;
	max-height: ;
	max-width: 100%;
	text-align: center;
	color: black;


}
#slider input[type=radio]{
	display: none;
}
#slider label{
	cursor: pointer;
	text-decoration: none;

}
#slides{
	padding: 8px;
	border: 3px solid #ccc;
	background: #fff;
	position: relative;
	z-index: 1;
	height: 200px;

}
#overflow{
	width: 100%;
	height:100%;
	background-color: ;
	overflow: hidden;
}
#slide1:checked ~ #slides .inner{
	margin-left: 0px;

}
#slide2:checked ~ #slides .inner{
	margin-left: -100%;
}
#slide3:checked ~ #slides .inner{
	margin-left: -200%;
}
#slide4:checked ~ #slides .inner{
	margin-left: -300%;
}
#slides .inner{
	transition: margin-left 800ms cubic-beizer(0.770, 0.000, 0.175, 1.000);
	width: 400%;
	line-height: 0;
	height: 100%;

}
#slides .slide{
	width: 25%;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: #fff;
}
#slides .slide_1{
	background: #00171f;

}
#slides .slide_2{
	background: #003459;
}
#slides .slide_3{
	background: #007EA7;
}
#slides .slide_4{
	background: #00a8E8;
}

#controls{
	margin: -180px 0 0 0 ;
	width: 100%;
	height: 500px;
	z-index: 3;
	position: relative;
}
#controls label{
	transition: opacity 0.2s ease-out;
	display: none;

	width: 60px;
	height: 60px;
	opacity: .4;

}
#controls label:hover{
	opacity: 1;
}
#slide1:checked ~#controls label:nth-child(2),
#slide2:checked ~#controls label:nth-child(3),
#slide3:checked ~#controls label:nth-child(4),
#slide4:checked ~#controls label:nth-child(1){
	background: url(next.png)	no-repeat;
	float: right;
	margin: 0 -60px 0 0;
	display: block;
}
#slide1:checked ~#controls label:nth-last-child(2),
#slide2:checked ~#controls label:nth-last-child(3),
#slide3:checked ~#controls label:nth-last-child(4),
#slide4:checked ~#controls label:nth-last-child(1){
	background: url(Back.png)	no-repeat;
	float: left;
	margin: 0 0 0 -60px;
	display: block;
}
#bullets{

	margin: -300px 0 0 0;
	text-align: center;

}
#bullets label{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #ccc;
	margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4){
	background: #444;
}
@media screen and (max-width: 500px){
	#slide1:checked ~#controls label:nth-child(2),
	#slide2:checked ~#controls label:nth-child(3),
	#slide3:checked ~#controls label:nth-child(4),
	#slide4:checked ~#controls label:nth-child(1),
	#slide1:checked ~#controls label:nth-last-child(2),
	#slide2:checked ~#controls label:nth-last-child(3),
	#slide3:checked ~#controls label:nth-last-child(4),
	#slide4:checked ~#controls label:nth-last-child(1){
		margin: 0;
		padding: 0;
	}
}
